*{
    font-family: 'Poppins', sans-serif;
    color: #0B0808;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #fbfdfc; 
}
/* navigation section start here */
.header{
    height: 10vh;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;  
}
a{
    padding: 0 0.5rem;
    text-decoration: none;
    background: none;
}
.contact{
    display: flex;
    justify-content: flex-end;
}
.nav .btn_contact{
    display: none;
}
.btn_contact{
    background-color: #F6FEF9;
    border: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
}
.material-symbols-outlined{
    cursor: pointer;
    display: none !important;
    font-size: 2rem !important;
}
/* navigation section ends here */

/* hero section start here */
.main{
    max-height: 70vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin:auto;
    gap: 4vw;
    margin-top: 10vh;
    /* border: solid; */
}
#hero-image{
    width: 40%;
    border-radius: 1rem;
    border-radius: 50%;
}

h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}
p{    
    line-height: 150%;
    padding: 1rem 0 ;
    text-align: center;
    /* width: 80%; */
}
.cta-btns{
    text-align: center;
}
.btn-cta-primary{
    background-color: #5efd8b;
    border-radius: 0.25rem;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 420;
    border:none;
    margin-right:1rem;
}
.btn-cta-secondary{
    border-radius: 0.25rem;
    border: 1px solid #0d0e0d;
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 420;
}
/* hero section end here */

