*{
    font-family: 'Poppins', sans-serif;
    color: #021131;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #fbfdfc; 
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* navigation section start here */
.header{
    height: 8vh;
    width: 80vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul{
    display: flex;  
}
.nav a{
    padding: 0 0.5rem;
    text-decoration: none;
    background: none;
}
.contact{
    display: flex;
    justify-content: flex-end;
}
.nav .btn_contact{
    display: none;
}
.btn_contact{
    background-color: #f2f6fe;
    border: solid;
    border-width: 1px;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.material-symbols-outlined{
    cursor: pointer;
    display: none !important;
    font-size: 2rem !important;
}
/* navigation section ends here */

/* hero section start here */
.main{
    max-height: 70vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    margin:auto;
    margin-top: 8rem;
}
#hero-image{
    width: 40%;
    border-radius: 1rem;
    border-radius: 50%;
}

h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}
.description{    
    line-height: 150%;
    padding: 1rem 0 ;
    /* text-align: center; */
}

.cta-btns{
    display: flex;
}
.btn-cta-primary{
    background-color: #0e58f8;
    border-radius: 0.25rem;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 420;
    border:none;
    margin-right:1rem;
    color: #f2f6fe;
}
.btn-cta-secondary{
    background-color: #f2f6fe;
    border-radius: 0.25rem;
    border: 1px solid #0d0e0d;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 420;
}
/* hero section end here */

/* cards section starts here */
.card-section{
    margin-top: 8rem;
}
h2{
    font-size: 3rem;
    font-weight: 600;
    line-height: 130%;
    text-align: center;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px,1fr));
    width: 80vw;
    gap: 2rem;
    margin-top: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.small{
    padding: 0.5rem 0.75rem;
    margin-right: 1;
    margin-top: 1rem;
}
.details h3, p {
    text-align: center;
}
.container img{
    width: 100%;
    border: 1px solid black;
    border-radius: 0.25rem;
}
/* cards section ends here */

/* contact me section starts here */
#contact-me{
    margin-top: 8rem;
    width: 50%;
}
form{
    margin-top: 1.5rem;
}
.input-set{
    margin-bottom: 1.5rem;
}
label{
    font-weight: 500;
    
}
input, textarea{
    width: 100%;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
}
textarea{
    resize: vertical;
}
form button{
    margin-right: 0px !important;
    cursor: pointer;
    width: 150px;
    align-items: center;
}
form .cta-btns{
    display:flex;
    flex-direction: column;
    align-items: center;
}
/* contact me section ends here */